version: 2.1

orbs:
  ci-tools: kanopi/ci-tools@1.7.1

jobs:
  split_branch:
    docker:
      - image: cibuilds/base
    steps:
      - ci-tools/copy-ssh-key
      - checkout
      - run:
          name: Set Default Key
          command: 
            echo "IdentityFile $HOME/.ssh/development_key" | tee -a $HOME/.ssh/config
      - ci-tools/install-jq
      - run:
          name: Install Git Subtree
          command: |
            apk add git-subtree
      - run:
          name: Push Items
          command: |
            FILE=split-tree.json
            KEYS=$(jq -r '. | keys | .[]' $FILE)
            while IFS= read -r KEY; do
              REMOTE_REPO=$(jq -r --arg key "${KEY}" '.[$key].repo' $FILE)
              SUB_PATH=$(jq -r --arg key "${KEY}" '.[$key].path' $FILE)
              SUB_BRANCH="repo/${KEY}"
              REMOTE_REPO_NAME="${KEY}"

              git subtree split --prefix=${SUB_PATH} -b "${SUB_BRANCH}"
              git remote add "${REMOTE_REPO_NAME}" "${REMOTE_REPO}"

              if [[ "${CIRCLE_TAG}" != "" ]]; then
                git tag -f "${CIRCLE_TAG}" ${SUB_BRANCH}
                git push -f "${REMOTE_REPO_NAME}" "${CIRCLE_BRANCH}"
              else
                git push -f "${REMOTE_REPO_NAME}" "${SUB_BRANCH}":"${CIRCLE_BRANCH}"
              fi

              git checkout "${CIRCLE_SHA1}"
            done \<<< "${KEYS}"

workflows:
  build_branch:
    jobs:
      - split_branch:
          context: kanopi-code
          filters:
            branches:
              only: /.*/
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
